.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #6d6d6d;
}

.menu-button {
    margin-left: 10px;
    min-width: 150px;
    width: fit-content;
    border-radius: 12px;
    border: none;
    background-color: #6d6d6d;
    color: #ffffff;
    cursor: pointer;
}

.menu-active {
    background-color: #999999;
}

.menu-button:active {
    background-color: #7a7a7a;
    box-shadow: inset 0px 5px 15px #000000;
    transition: none;
}

.menu-buttons-container {
    margin-right: 50px;
}


@media only screen and (orientation: portrait) {
    .menu {
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    .menu-button {
        min-width: 140px;
        font-size: 180%;
        padding: 15px;
    }
}

@media only screen and (orientation: landscape) {
    .menu {
        height: 13vh;
    }

    .menu-button {
        font-size: 1.5vw;
        padding: 2.5vh;
    }

    .menu-button:hover {
        background-color: #999999;
        transform: translateY(-5px);
    }
}

@media only screen and (max-aspect-ratio: 4/3) {
    .menu-button {
        font-size: 3vw;
        padding: 2vh;
    }
}