.content {
    height: calc(100vh - 120px);
}

.not-found-title {
    font-size: 400%;
    font-weight: bold;
}

.not-found-desc {
    width: 60%;
    font-size: 200%;
}

.back-link {
    color: #5271ff;
    margin-top: 20px;
    text-decoration: none;
}

.back-link:hover {
    color: #7d95ff;
    transform: translateY(-10px);
}