.content {
    height: 83vh;
}

.not-found-title {
    font-size: 8vh;
    font-weight: bold;
}

.not-found-desc {
    width: 60%;
    font-size: 4vh;
}

.back-link {
    color: #5271ff;
    margin-top: 20px;
    text-decoration: none;
}

.back-link:hover {
    color: #7d95ff;
    transform: translateY(-10px);
}