.question-content {
    width: calc(100%-4vh);
}

.question-label {
    font-size: 4vh;
}

.question-number {
    font-weight: bold;
    color: #5271ff;
}

@media only screen and (orientation: landscape) {
    .question {
        display: grid;
        grid-template-columns: 1fr 15fr;
        padding: 4vh;
    }

    .questionnaire {
        margin: 10vh;
    }

    .question {
        height: 83vh;
    }

    .question-number {
        font-size: 12vh;
        transform: translateY(-10px);
    }

    .question-label {
        font-size: 4vh;
    }

    .question-next {
        text-align: center;
        text-decoration: none;
        width: 130px;
        background-color: #5271ff;
    }

    .question-next:hover {
        background-color: #7d95ff;
    }

    .question-next:active {
        background-color: #5271ff;
    }
}

@media only screen and (orientation: portrait) {
    .question {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 50px 50px 100px 50px;
    }

    .question-number {
        font-size: 200px;
    }

    .question-label {
        font-size: 40px;
    }

    .question-next {
        display: none;
    }
}