.signup-flex {
    display: flex;
    justify-content: center;
}

.signup-header {
    margin: 5vh 0px 3vh;
    font-size: 6vh;
    text-align: center;
}

.signup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.choose-type-grid {
    display: grid;
    grid-template-rows: auto min-content;
}

.choose-type-title {
    margin-top: 2vh;
    font-size: 4vh;
}

.loading-button {
    border-radius: 1vh;
    font-size: 3vh;
    margin-top: 2vh;
    padding: 1vh 3vh 1vh 3vh;
    border: none;
    background-color: #e6e6e6;
    cursor: not-allowed;
}