/* Light theme (it's the default, deal with it) */
.primary-light {
    color: #ffffff;
    background-color: #5271ff;
}

.secondary-light {
    background-color: #5ce1e6;
}

.secondary-light-active {
    background-color: #ffcc4d;
}

.submit-light {
    color: #ffffff;
    background-color: #00b64e;
}